*.o
*.png
/c_fixed/gamma_decode_rec2020
/c_fixed/gamma_decode_srgb
/c_fixed/gamma_decode_*.c
/c_fixed/gamma_encode_rec2020
/c_fixed/gamma_encode_srgb
/c_fixed/gamma_encode_*.c
/c_fixed/hsbk_to_rgb_display_p3
/c_fixed/hsbk_to_rgb_rec2020
/c_fixed/hsbk_to_rgb_srgb
/c_fixed/hsv_to_rgb
/c_fixed/hue_kelv_test
/c_fixed/inv_test
/c_fixed/kelv_to_uv
/c_fixed/mired_to_rgb_display_p3
/c_fixed/mired_to_rgb_rec2020
/c_fixed/mired_to_rgb_srgb
/c_fixed/mired_to_rgb_*.c
/c_fixed/mired_to_wc_krypton
/c_fixed/mired_to_wc_*.c
/c_fixed/rgb_to_hsbk_display_p3
/c_fixed/rgb_to_hsbk_display_p3.c
/c_fixed/rgb_to_hsbk_gen
/c_fixed/rgb_to_hsbk_rec2020
/c_fixed/rgb_to_hsbk_rec2020.c
/c_fixed/rgb_to_hsbk_srgb
/c_fixed/rgb_to_hsbk_srgb.c
/c_fixed/rgb_to_hsv
/c_fixed/rgb_to_uv_display_p3
/c_fixed/rgb_to_uv_rec2020
/c_fixed/rgb_to_uv_srgb
/c_fixed/rgb_to_uv_*.c
/c_fixed/sat_test
/c_fixed/uv_to_rgb_display_p3
/c_fixed/uv_to_rgb_rec2020
/c_fixed/uv_to_rgb_srgb
/c_fixed/uv_to_rgb_*.c
/c_float/gamma_decode_rec2020
/c_float/gamma_decode_srgb
/c_float/gamma_decode_*.c
/c_float/gamma_encode_rec2020
/c_float/gamma_encode_srgb
/c_float/gamma_encode_*.c
/c_float/hsbk_to_rgb_display_p3
/c_float/hsbk_to_rgb_rec2020
/c_float/hsbk_to_rgb_srgb
/c_float/hsv_to_rgb
/c_float/hue_kelv_test
/c_float/inv_test
/c_float/kelv_to_uv
/c_float/kelv_to_uv_deriv
/c_float/mired_to_rgb_display_p3
/c_float/mired_to_rgb_rec2020
/c_float/mired_to_rgb_srgb
/c_float/mired_to_rgb_*.c
/c_float/mired_to_wc_krypton
/c_float/mired_to_wc_*.c
/c_float/rgb_to_hsbk_display_p3
/c_float/rgb_to_hsbk_display_p3.c
/c_float/rgb_to_hsbk_gen
/c_float/rgb_to_hsbk_rec2020
/c_float/rgb_to_hsbk_rec2020.c
/c_float/rgb_to_hsbk_srgb
/c_float/rgb_to_hsbk_srgb.c
/c_float/rgb_to_hsv
/c_float/rgb_to_uv
/c_float/rgb_to_uv_display_p3
/c_float/rgb_to_uv_rec2020
/c_float/rgb_to_uv_srgb
/c_float/rgb_to_uv_*.c
/c_float/sat_test
/c_float/uv_to_kelv
/c_float/uv_to_rgb
/c_float/uv_to_rgb_display_p3
/c_float/uv_to_rgb_rec2020
/c_float/uv_to_rgb_srgb
/monitor/display_p3/model.yml
/monitor/rec2020/model.yml
/monitor/srgb/model.yml
/prepare/*.yml
/python/gamma_decode_*.py
/python/gamma_encode_*.py
/python/mired_to_rgb_*.py
/python/rgb_to_hsbk_*.py
/python/rgb_to_uv_*.py
/python/rtheta_to_xy.py
/python/uv_to_rgb_*.py
/python/xy_to_rtheta.py
/python/xy_to_r.py
/test/out_*.txt
__pycache__
