*.o
*.png
*.gen_py
*.gen_c_fixed
*.gen_c_float
__pycache__
/c_float/hsbk_to_rgb
/c_float/hsv_to_rgb
/c_float/hue_kelv_test
/c_float/inv_test
/c_float/kelv_to_rgb
/c_float/kelv_to_uv
/c_float/mired_to_rgb
/c_float/rgb_to_hsbk
/c_float/rgb_to_hsv
/c_float/sat_test
/c_fixed/kelv_to_uv
/prepare/mired_to_rgb_fit_srgb.yml
/prepare/mired_to_uv_data.yml
/prepare/UVW_to_rgb_srgb.yml
